*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border: 1px dashed rgb(171, 4, 4);
    background-color: darkred;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color:lightgrey;
    border: 1px dashed darkred;
    height: 83vh;
    width: 100vw;
    font-size: medium;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    align-items: center;
}
#busca{
    text-align: center;
    margin: 8px 1px 1px 1px;
    height: 5vh;
    grid-column: 2/3;
    grid-row: 1/2;
}
.escondido{
    display: none;
}

.bloco{
    width: 370px;
    height: 425px;
    display: grid;
    border-radius: 20px;
    justify-content: center;
    justify-self: center;
}
.lista{
    list-style: none
}
#anime1{
    background-color: orange;
    border: 2px dashed rgb(244, 186, 78);
    grid-column: 1/2;
    grid-row: 2/3;
}
.imagem1{
    justify-self: center;
    margin-top: 3vh;
}
#anime2{
    background-color:steelblue;
    border: 2px dashed rgb(92, 160, 215);
    grid-column: 2/3;
    grid-row: 2/3;
}
.imagem2{
    justify-self: center;
    margin-top: 3vh;
}
#anime3{
    background-color:seagreen;
    border: 2px dashed rgb(72, 175, 117);
    grid-column: 3/4;
    grid-row: 2/3;    
}
.imagem3{
    justify-self: center;
    margin-top: 3vh;
}
footer{
    display: block;
    height: 7vh;
    width: 100vw;
    border: 2px dashed rgb(171, 4, 4);
    background-color: darkred;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-device-width: 1100px) {
    header{
        display: flex;
        height: 10vh;
        justify-content: center;
        align-items: center;
    }
    main{
        width: 100vw;
        height: 100%;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 0.5fr 4fr 4fr 4fr ;
        background-color: lightgray;
    }
    .bloco{
        width: 98vw;
        margin: 2vh;
    }
    #busca{
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: center;
        padding-top: 0.5vh;
    }    
    #anime1{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    #anime2{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    #anime3{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    footer{
        position:static;
        height: 7vh;
        bottom: 0;
    }
}